<template>
  <div class="h-screen w-full">
    <div class="fixed top-0 w-full z-10 bg-white">
      <div class="gradient-blue-green" style="height: 5px"></div>
      <div class="rounded-b-xl px-4 py-6 flex justify-end shadow-bottom">
        <button class="hover:underline text-sm" style="color: #319795">
          Login
        </button>
      </div>
    </div>
    <div class="w-full">
      <div
        class="
          bottom-0
          fixed
          rounded-t-xl
          px-4
          py-6
          flex
          justify-center
          w-full
          bg-white
          shadow-top
          z-10
        "
      >
        <button class="rounded-xl text-white py-6 signup">
          Kostenlos Registrieren
        </button>
      </div>
    </div>
    <div class="pt-32 gradient-light-green">
      <h1 class="text-4xl px-5 font-medium">
        <center>Deine Job website</center>
      </h1>
      <img src="../static/agreement.png" alt="" />
    </div>
    <div class="mb-40">
      <div id="tabs" class="tabs overflow-x-scroll">
        <div
          v-for="(item, index) in categories"
          :key="index"
          :ref="[`tab-${index}`]"
          :id="[`tab-${index}`]"
          class="tabs-trigger border px-8 my-8 py-2"
          :class="[index === active ? 'tabs-trigger--active' : '']"
          @click="activate(index, `tab-${index}`)"
        >
          <p>{{ categories[index] }}</p>
        </div>
      </div>

      <div v-if="active === 0" id="tab">
        <Tab1 />
      </div>
      <div v-if="active === 1" id="tab">
        <Tab2 />
      </div>
      <div v-if="active === 2" id="tab">
        <Tab3 />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  data: () => {
    return {
      active: 0,
      categories: ['Arbeitnehmer', 'Arbeitgeber', 'Temporärbüro'],
    }
  },
  methods: {
    activate(index: any, refId: any) {
      this.active = index
      const a = this.$refs.refId
      const b = document.querySelector(refId)
      console.log(b, " <<< ", refId, " REFID")
    },
  },
}
</script>

<style>
@import '../assets/style.css';
</style>