<template>
  <div>
    <center>
      <h2 class="font-medium my-8 title">
        Drei einfache Schritte zur Vermittlung neuer Mitarbeiter
      </h2>
    </center>
    <div class="mx-auto px-2">
      <img
        class="relative tab1-img index-1"
        src="../static/profile.png"
        alt=""
      />
      <div class="table">
        <div class="first"></div>
        <h1 class="number">1.</h1>
        <p class="small">Erstellen dein Lebenslauf</p>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#e6fffa"
        fill-opacity="1"
        d="M0,96L60,90.7C120,85,240,75,360,112C480,149,600,235,720,240C840,245,960,171,1080,165.3C1200,160,1320,224,1380,256L1440,288L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
        style=""
      ></path>
    </svg>
    <div class="mx-auto px-2 pl-8" style="background: #e6fffa; z-index: -2">
      <div class="table">
        <h1 class="number">2.</h1>
        <p class="small">Erhalte Vermittlungs- angebot von Arbeitgeber</p>
      </div>
      <img class="relative -right-16 mt-3" src="../static/job_offers.png" alt="" />
      <div
        class="wave gradient-light-green"
        :style="{ 'background-image': 'url(../static/wave.svg);' }"
      ></div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#e6fffa"
        fill-opacity="1"
        d="M0,96L60,112C120,128,240,160,360,149.3C480,139,600,85,720,80C840,75,960,117,1080,117.3C1200,117,1320,75,1380,53.3L1440,32L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"
        style=""
      ></path>
    </svg>
    <div class="mx-auto px-12">
      <div class="third"></div>
      <div class="table">
        <h1 class="number">3.</h1>
        <p class="small">Vermittlung nach Provision oder Stundenlohn</p>
      </div>
      <img src="../static/business_deal.png" alt="" />
    </div>
  </div>
</template>

<style>
@import "../assets/style.css"; 
</style>