@import url('https://fonts.googleapis.com/css2?family=Lato');

html,
body {
  font-family: Lato !important;
}

.title {
  color: #4a5568;
  text-align: center;
  width: 280px;
  font-size: 21px;
  line-height: 25px;
}

.gradient-blue-green {
  background: transparent linear-gradient(91deg, #319795 0%, #3182ce 100%) 0% 0%
    no-repeat padding-box;
}
.gradient-light-green {
  background: transparent linear-gradient(141deg, #ebf4ff 0%, #e6fffa 100%) 0%
    0% no-repeat padding-box;
}
.shadow-bottom {
  box-shadow: 0px 3px 6px #00000029;
}
.shadow-top {
  box-shadow: 0px -3px 6px 0px #00000029;
}
.signup {
  width: 320px;
  font: normal normal 600 14px/17px Lato;
  background: transparent linear-gradient(95deg, #319795 0%, #3182ce 100%) 0% 0%
    no-repeat padding-box;
}
.tab {
  font-weight: bold;
  font-size: 14px;
  background: #81e6d9 0% 0% no-repeat padding-box;
}
.tabs {
  display: flex;
}
.tabs-trigger {
  display: flex;
  background-color: #fff;
  color: #81e6d9;
  font-weight: bold;
  font-size: 14px;
  transition: 100ms linear all;
  cursor: pointer;
}
.tabs-trigger:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-left: 16px;
}
.tabs-trigger:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-right: 16px;
}
.tabs-trigger--active {
  background-color: #81e6d9;
  color: #fff;
  border: none;
}
.tab1-img {
  right: -60px;
  top: 40px;
}
.index-1 {
  z-index: -1;
}
.table {
  display: table;
}
.number {
  display: table-cell;
  color: #718096;
  line-height: 156px;
  font: normal normal normal 130px Lato;
}
.small {
  display: table-cell;
  color: #718096;
  line-height: 156px;
  font: normal normal normal 16px Lato;
  max-width: 188px;
}
.first {
  position: absolute;
  z-index: -2;
  left: -34px;
  background: #f7fafc 0% 0% no-repeat padding-box;
  border-radius: 100%;
  width: 208px;
  height: 208px;
}
.third {
  position: absolute;
  z-index: -1;
  left: -54px;
  background: #f7fafc 0% 0% no-repeat padding-box;
  border-radius: 100%;
  width: 304px;
  height: 304px;
}
.wave {
  background-image: url('../static/wave.svg');
}
